// @import url('src/');
@import './../../styles/variables';
// @import url('./../../styles/variables.scss');

.fontRegular {
    @include font-regular;
}

.fontMedium {
    @include font-medium;
}

.fontSemibold {
    @include font-semiBold;
    
}

.fontBold {
    @include font-bold;

}

header {
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        @include font-medium-large;
        color: $text-primary-color;
        padding: 32px; // TODO: acho que da pra colocar esse cara em algum mixin ou funcao
    }
}