@import "./../../styles/variables";

header {
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        @include font-medium-large;
        color: $text-primary-color;
        padding: 32px; // TODO: acho que da pra colocar esse cara em algum mixin ou funcao
    }
}

.grid {
    display: flex;
    justify-content: center;
}

.grid-restaurants {
    margin-top: 5em;
    display: grid;

    // grid-template-columns: auto auto auto;
    grid-gap: 35px 50px;
    justify-content: center;
}

// @media (min-width: 480px) {
//     .grid-restaurants {
//         grid-template-columns: auto;
//     }
// }

// @media (min-width: 768px) {
//     .grid-restaurants {
//         grid-template-columns: auto auto;
//     }
// }

// @media (min-width: 1280px) {
//     .grid-restaurants {
//         grid-template-columns: auto auto auto;
//     }
// }

// @media only screen and (min-width: 768px) {
//     .grid-restaurants {
//         grid-template-columns: auto;
//     }
// }

// @media only screen and (min-width: 1024px) {
//     .grid-restaurants {
//         grid-template-columns: auto auto;
//     }
// }



@media (max-width: 575.98px) { 
    .grid-restaurants {
        grid-template-columns: auto;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .grid-restaurants {
        grid-template-columns: auto;
    }
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .grid-restaurants {
        grid-template-columns: auto auto;
    }
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .grid-restaurants {
        grid-template-columns: auto auto auto;
    }
    
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .grid-restaurants {
        grid-template-columns: auto auto auto;
    }

 }
