@import './../index.scss';

// Cores do sistema
$primary-color: #009CA3;
$secondary-color: #2B0D61;
$third-color: #B5ABD4;

//  Cores de Texto
$text-primary-color: #404040;
$text-secondary-color: #989898;

// Cores monocromatica
$black: #000000;
$white-color: #FFFFFF;
$gray-color: #FBFBFB;
$gray-color-2: #e6e6e6;
$mono-color-1: #00000029;
$mono-color-2: #0000001A;
$mono-color-3: #00000033;


// Fontes

@mixin font-moutserrat {
    font-family: 'Montserrat', sans-serif;
}

@mixin font-regular {
    @include font-moutserrat;
    font-weight: 400;
}

@mixin font-medium {
    @include font-moutserrat;
    font-weight: 500;
}

@mixin font-semiBold {
    @include font-moutserrat;
    font-weight: 600;
}

@mixin font-bold {
    @include font-moutserrat;
    font-weight: 700;
}


// Fonts Medium
@mixin font-medium-large {
    @include font-medium;
    font-size: 24px;
}

@mixin font-medium-medium {
    @include font-medium;
    font-size: 16px;
}

@mixin font-medium-small {
    @include font-medium;
    font-size: 12px;
}

@mixin font-medium-x-small {
    @include font-medium;
    font-size: 8px;
}

// Fonts Regular
@mixin font-regular-large {
    @include font-regular;
    font-size: 24px;
}

@mixin font-regular-medium {
    @include font-regular;
    font-size: 16px;
}

@mixin font-regular-small {
    @include font-regular;
    font-size: 12px;
}

@mixin font-regular-x-small {
    @include font-regular;
    font-size: 8px;
}

// Fonts Semi bold
@mixin font-semiBold-large {
    @include font-semiBold();
    font-size: 24px;
}

@mixin font-semiBold-medium {
    @include font-semiBold();
    font-size: 16px;
}

@mixin font-semiBold-small {
    @include font-semiBold();
    font-size: 12px;
}

@mixin font-semiBold-x-small {
    @include font-semiBold();
    font-size: 8px;
}

// Fonts Bold
@mixin font-bold-large {
    @include font-bold;
    font-size: 24px;
}

@mixin font-bold-medium {
    @include font-bold;
    font-size: 16px;
}

@mixin font-bold-small {
    @include font-bold;
    font-size: 12px;
}

@mixin font-bold-x-small {
    @include font-bold;
    font-size: 8px;
}
